.main_container{
    position: relative;
}
.video_background{
    object-fit: cover;
    height:100vh;
    width:100%;
    z-index: 0;
}
.logo{
    position: absolute;
    height: 150px;
    width:auto ;
    z-index: 1;
    left: 75px;
    top: 100px;
}
.upper_bar{
    display:flex;
    position: sticky;
    justify-content: flex-end;
    background-color: #253532;
    padding: 12px 0 12px 0;
    top:1px;
    width:100%;
    gap: 20px;
    z-index: 3;
}
.upper_bar button{
    margin-right: 25px;
    background-color:#517f83;
    color:#fff;
    border-radius: 6px;
    border: 0;
    padding:8px;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
}
.upper_bar button:hover{
    background-color:#fff ;
    color:#517f83;
}
.home_button{
    position: absolute;
    display:flex;
    justify-content:flex-end;
    top:75%;
    left:20%;
    z-index: 2;
    flex-direction: row;
    padding: 20px 125px 20px 125px;
    border-radius:15px;
    background-color:#1f1b17;
    color:#ffffff;
    border: 0;
    font-size: 25px;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.home_button:hover{
    background-color:#ffffff;
    color:#1f1b17;
}
.office_button{
    position: absolute;
    display:flex;
    justify-content:flex-end;
    top:75%;
    right:20%;
    z-index: 2;
    flex-direction: row;
    padding: 20px 125px 20px 125px;
    border-radius: 15px;
    background-color:#1f1b17;
    color:#ffffff;
    border: 0;
    font-size: 25px;
    font-weight: bold;
    font-family:sans-serif;
}
.office_button:hover{
    background-color:#ffffff;
    color:#1f1b17;
}
#title{
    position: absolute;
    z-index: 1;
    height: fit-content;
    width: fit-content;
    padding: 10px 15px;
    border-radius: 10px;
    top: 250px;
    right:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:#1f1b17;
    background-color: #9e8d77;
    font-size: 62px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    filter:drop-shadow(2px 2px 5px rgb(48, 47, 47));
    
}
#slogan{
    position: absolute;
    z-index: 1;
    top: 365px;
    right: 0;
    left:0;
    color:#cdd6e1;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    filter:drop-shadow(2px 2px 10px rgb(0, 0, 0));
}
.second_container{
    position: relative;
}

.info_section_bar{
    display: flex;
    top:1px;
    position:sticky;
    justify-content: center;
    background-color: #253532;
    color: #ffffff;
    font-family: sans-serif;
    margin: 60px 0 60px 0;
    z-index: 3;
}
.service_info{
    position: relative;
    font-size: 24px;
    width: 95%;
    text-align: justify;
    font-family: sans-serif;
    padding: 0 0 100px 30px;
    line-height: 1.5;

}
.service_info p strong{
    color:#9e8d77;
}
.colored_row{
    display: flex;
    height: 370px;
    width: 100%;
    padding:15px 0 15px 0;
    margin-top: 5px;
    justify-content: space-around;
    background-color: rgba(128, 128, 128, 0.13);
}

.colored_row img{
    position: relative;
    border-radius: 50%;
    height: 350px;
    width: 350px;

}
.uncolored_row{
    display: flex;
    height: 100%;
    width: 100%;
    padding:15px 0 15px 0;
    margin-top: 5px;
    justify-content: space-around;   
}
.uncolored_row img{
    position: relative;
    border-radius: 50%;
    height: 350px;
    width: 350px;
}
.border_bottom{
    border-bottom:solid #583d34;
    position: absolute;
    width: 100%;
    height: 130%;
    z-index: 5;
    border-width: 6px;
    padding: 0 0 40px 0;
}
.border_top{
    border-top:solid #583d34;
    position: absolute;
    width: 100%;
    height: 130%;
    border-width: 6px;
    padding: 40px 0 0 0;
    
}
.colored_img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_info{
    position:absolute;
    z-index: 2;
    color:#ffffff;
    font-size: 40px;
    filter: drop-shadow(2px 2px 20px #000000);
}
.third_container{
    position: relative;
    margin-top: 150px;
    height: fit-content;
}
.home_background{
    height: 760px;
    width: 100%;
    object-fit: cover;
    z-index: 0;
}
.home_office_service_information{
    box-sizing: border-box;
    font-size: 28px;
    margin: 10%;
    font-family:sans-serif;
    line-height: 2;
    color:#1f1b17;
}
.blank_wall_right{
    background-color: rgba(255, 255, 255, 0.80);
    height: 100%;
    width: 50%;
    right: 0;
    z-index: 1;
    position: absolute;
    top:0;
}

.office_background{
    object-fit: cover;
    height: 760px;
    width: 100%;
    z-index: 0;
}
.blank_wall_left{
    background-color: rgba(255, 255, 255, 0.80);
    height: 100%;
    width: 50%;
    z-index: 1;
    object-fit: cover;
    position: absolute;
}
.fourth_container{
    position: relative;
    margin-top: 150px;
}

.third_border_bottom{
    border: solid #583d34;
    width: 25%;
    right:37.5%;
    position: absolute;
    bottom: -75px;
}
.fifth_container{
    position: relative;
}
.fifth_container_upper_bar{
    width:100%;
    display: flex;
    top:1px;
    position:sticky;
    justify-content: center;
    background-color: #024f8e;
    color: #ffffff;
    font-family: sans-serif;
    margin: 60px 0 60px 0;
    z-index: 3;
}

.fifth_container_info{
    position: relative;
    width: 45%;
    left:5%;
    font-size: 24px;
    font-family: sans-serif;
    line-height: 1.5;
}
.team_img{
    right: 5%;
    height: 350px;
    width: auto;
    border-radius: 15px;
    position: absolute;
}
.fifth_container_info strong{
    color:#21cf06;
}
.sixth_container{
    position: relative;
}
#contacto_icon{
    position: absolute;
    height: 250px;
    width: 30%;
    right: 12%;
    top:130px;
}
.sixth_container p{
    position: relative;
    width: 45%;
    left:5%;
    font-size: 24px;
    font-family: sans-serif;
    line-height: 1.5;
}
.sm_container{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-around;
    position: relative;
    height: 350px;
    
}
.contact_sm{
    height:auto;
    width: 150px;
    
}