body{
    font-family: sans-serif;
}
.main_container{
    position: relative;
}
.video_background{
    object-fit: cover;
    height:100vh;
    width:100%;
    z-index: 0;
}
.logo{
    position: absolute;
    height: 150px;
    width:auto ;
    z-index: 1;
    left: 75px;
    top: 100px;
}
.upper_bar{
    display:flex;
    position: sticky;
    justify-content: flex-end;
    background-color: #253532;
    padding: 12px 0 12px 0;
    top:1px;
    width:100%;
    gap: 20px;
    z-index: 3;
}
.upper_bar button{
    margin-right: 25px;
    background-color:#517f83;
    color:#fff;
    border-radius: 6px;
    border: 0;
    padding:8px;
    font-size: 16px;
    font-weight: bold;;
}
.upper_bar button:hover{
    background-color:#fff ;
    color:#517f83;
}
.home_button{
    position: absolute;
    display:flex;
    justify-content:flex-end;
    top:75%;
    left:20%;
    z-index: 2;
    flex-direction: row;
    padding: 20px 125px 20px 125px;
    border-radius:15px;
    background-color:#1f1b17;
    color:#ffffff;
    border: 0;
    font-size: 25px;
    font-weight: bold;      
}
.home_button:hover{
    background-color:#ffffff;
    color:#1f1b17;
}
.office_button{
    position: absolute;
    display:flex;
    justify-content:flex-end;
    top:75%;
    right:20%;
    z-index: 2;
    flex-direction: row;
    padding: 20px 125px 20px 125px;
    border-radius: 15px;
    background-color:#1f1b17;
    color:#ffffff;
    border: 0;
    font-size: 25px;
    font-weight: bold;
}
.office_button:hover{
    background-color:#ffffff;
    color:#1f1b17;
}
#title{
    position: absolute;
    z-index: 1;
    height: fit-content;
    width: fit-content;
    padding: 10px 15px;
    border-radius: 10px;
    top: 250px;
    right:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:#1f1b17;
    background-color: #9e8d77;
    font-size: 62px;
    text-align: center;
    filter:drop-shadow(2px 2px 5px rgb(48, 47, 47));
    
}
#slogan{
    position: absolute;
    z-index: 1;
    top: 365px;
    right: 0;
    left:0;
    color:#cdd6e1;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    filter:drop-shadow(2px 2px 10px rgb(0, 0, 0));
}
.second_container{
    position: relative;
}

.info_section_bar{
    display: flex;
    top:1px;
    position:sticky;
    justify-content: center;
    background-color: #253532;
    color: #ffffff;
    margin: 60px 0 60px 0;
    z-index: 3;
}
.service_info{
    position: relative;
    font-size: 24px;
    width: 95%;
    text-align: justify;
    padding: 0 0 100px 30px;
    line-height: 1.5;

}
.service_info p strong{
    color:#9e8d77;
}
.colored_row{
    display: flex;
    width: 100%;
    padding:15px 0 15px 0;
    margin-top: 5px;
    justify-content: space-around;
    background-color: rgba(128, 128, 128, 0.13);
}

.colored_row img{
    position: relative;
    border-radius: 50%;
    height: 350px;
    width: 350px;

}
.uncolored_row{
    display: flex;
    width: 100%;
    padding:15px 0 15px 0;
    margin-top: 5px;
    justify-content: space-around;   
}
.uncolored_row img{
    position: relative;
    border-radius: 50%;
    height: 350px;
    width: 350px;
}
.second_container div img:hover{
    width: auto;
    height: 375px;
    transition: 2s;
    filter:blur(1px);
}

.border_bottom{
    border-bottom:solid #583d34;
    position: absolute;
    width: 100%;
    height: 130%;
    z-index: -1;
    border-width: 6px;
    padding: 0 0 40px 0;
}
.border_top{
    border-top:solid #583d34;
    position: absolute;
    width: 100%;
    height: 130%;
    border-width: 6px;
    padding: 40px 0 0 0;
    z-index: -1;
    
}
.colored_img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_info{
    position:absolute;
    z-index: 0;
    color:#ffffff;
    font-size: 40px;
    filter: drop-shadow(2px 2px 10px #000000);
    text-align: center;
}
.img_info p{
    padding: 0;
    margin: 0;
}

.third_container{
    position: relative;
    margin-top: 150px;
    height: fit-content;
}
.home_background{
    height: 760px;
    width: 100%;
    object-fit: cover;
    z-index: 0;
}
.home_office_service_information{
    box-sizing: border-box;
    font-size: 28px;
    margin: 10%;
    line-height: 2;
    color:#1f1b17;
}
.blank_wall_right{
    background-color: rgba(255, 255, 255, 0.80);
    height: 100%;
    width: 50%;
    right: 0;
    z-index: 1;
    position: absolute;
    top:0;
}

.office_background{
    object-fit: cover;
    height: 760px;
    width: 100%;
    z-index: 0;
}
.blank_wall_left{
    background-color: rgba(255, 255, 255, 0.80);
    height: 100%;
    width: 50%;
    z-index: 1;
    object-fit: cover;
    position: absolute;
}
.fourth_container{
    position: relative;
    margin-top: 150px;
}

.third_border_bottom{
    border: solid #583d34;
    width: 25%;
    right:37.5%;
    position: absolute;
    bottom: -75px;
}
.about_us_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: row-reverse;
}
.about_us_item_img{
    width: 50%;
}
.about_us_item_p{
    box-sizing: border-box;
    font-size:25px ;
    width: 45%;
    line-height: 2;
    margin-left:5%;
}
.team_img{
    height: auto;
    width: 80%;
    border-radius: 10px;
    margin-left: 15%;
}
.team_container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 50px;
    box-sizing: border-box;
}
.team_img_profile{
    height: 400px;
    width:300px;
    border-radius: 25px;
}
.team_item{
    background-color: rgba(81, 127, 131, 1);
    background-color: #517f83;
    padding:8px 8px 8px 8px;
    border-radius: 25px;
    width: 300px;
}
.team_item p{
    color:#fff;
    font-size: 25px;
    margin: 15px;
}

.fifth_container_info strong{
    color:#1f1b17;
}
.principles{
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(164, 164, 164, 0.25);
    padding: 25px;

}
.principles_item{
    width: 100%;
    text-align: center;
    font-size: 40px;
}
.principles_item p{
    margin: 0;
}
#principles_info{
    box-sizing: border-box;
    font-size: 20px;
    padding:20px;
    line-height: 1.5;
}
#principles_info:hover{
    font-size: 21px;
    transition: 0.5s;
}
.principles_icon{
    height: 200px;
}
.principles_icon:hover{
    height: 225px;
    transition: 0.5s;
}
.sixth_container{
    position: relative;
}
#contacto_icon{
    position: absolute;
    height: 250px;
    width: 30%;
    right: 12%;
    top:130px;
}
.sixth_container p{
    position: relative;
    width: 45%;
    left:5%;
    font-size: 24px;
    line-height:2;
}
.social_media_container{

    position: relative;

}
.social_media_item{
    margin: 65px 0 20px 0;
    display: flex;
    align-items: center;
    
}
.social_media_item img{
    height: 100px;
    width: auto;
    margin-left: 50px;
}
.social_media_item img:hover{
    height: 125px;
    transition: 0.5s;
}
.social_media_item a{
    font-size: 25px;
}